
<div class="host-card" [ngClass]="showAsList ? 'host-list-card' : 'host-grid-card'">
    <div class="card-content">
        <div class="row host-name">
            <div class="host-name">
                <span>{{ hostName }}</span>
            </div>
        </div>
        <div class="row application-item" *ngFor="let application of getTopFiveApps()">
            <div class="application-apdex" (click)="onRemoveApp(application)"> {{ application.apdex }}</div>
            <div class="application-name" (click)="onAppClicked(application)"> {{ application.name }}</div>
        </div>
    </div>
</div>

