.host-card {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    .card-content {
        padding: 30px;
        display: table;
        .row {
            display: table-row;
        }
        .host-name  {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 23px;
        }
        .application-item {
            display: flex;
            .application-apdex {
                color: #444444;
                opacity: 62%;
                font-size: 13px;
                font-weight: bold;
                margin-right: 20px;
                cursor: pointer;
            }
            .application-name {
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}
.host-grid-card {
    width: 375px;
}

.host-list-card {
    width: 780px;
}