
@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/HelveticaNeueBold.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}