/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/modules/_fonts.scss';

// primary font
$primary_font: 'HelveticaNeue';
body {
    font-family: $primary_font;
    background-color: #F5F5F5;
}