<div class="hosts-container hosts-container-grid">
    <div class="grid-header">
      <span class="title">Apps by Host!</span>
      <span class="user-email">For user {{ userEmail }}</span>
      <label class="list-checkbox"><input type="checkbox" value="showList" (change)="showList($event.target.checked)"> Show as list</label>
    </div>
    <app-host *ngFor="let hostItem of getHosts()"
      [hostName]="hostItem[0]"
      [applications]="getTopAppsByHost(hostItem[0])"
      [showAsList]="listMode">
    </app-host>
</div>

<div class="add-app-form">
  <form [formGroup]="addAppForm" (ngSubmit)="onSubmit()">
    <label>
      App name:
      <input type="text" formControlName="appName" required>
    </label>
    <label>
      Apdex: {{ addAppForm.controls.appApdex.value }}
      <input type="range" formControlName="appApdex" min="0" max="100" required>
    </label>
    <label>
      Host name:
      <input type="text" formControlName="appHostName" required>
    </label>
    <button type="submit" [disabled]="!addAppForm.valid">Submit</button>
  </form>
</div>

