

.hosts-container {
    width: 840px;
    
    display: flex;
    flex-wrap: wrap;
    &.hosts-container-grid {
        justify-content: space-evenly;
    }

    .grid-header {
        width: 100%;
        display: flex;
        font-size: 18px;
        margin-left: 30px;
        align-self: flex-end;
        .title {
            color: #000000;
            font-size: 35px;
            font-weight: bold;
        }
        .user-email {
            display: flex;
            line-height: 3;
            margin-left: 10px;
            margin-right: 30px;
        }
        .list-checkbox {
            align-self: center;
        }
    }
}